{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>PA General Assembly | Analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'main/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'main/assets/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>

    <!-- Custom styles for this template -->
    <link href="{% static 'main/album.css' %}" rel="stylesheet">
    
    <!-- Chart.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
  </head>

  <body>

    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
            <strong>PA General Assembly Project</strong>
          </a>
        </div>
      </div>
    </header>

    <main role="main">

    {% block maincontent %}
    {% endblock %}

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Hi! My name is Greg King and I'm a Data Scientist building my portfolio with various projects. View my Gitub <a href="https://github.com/ai-gregking" target="_blank">here.</a></p>
        <p>The data contained in this site is collected at regular intervals from the <a href="https://www.legis.state.pa.us/" target="_blank">Pennsylvania General Assembly website</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'main/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'main/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/assets/js/vendor/holder.min.js' %}"></script>
  </body>
</html>