{% extends 'main/base.html' %}

{% block maincontent %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Pennsylvania State Legislature</h1>
    <h1 class="jumbotron-heading">Portfolio Project</h1>
    <p class="lead text-muted">This page displays data and analyses of bills in the <a href="https://www.legis.state.pa.us/" target="_blank">Pennsylvania General Assembly</a> as part of a data science portfolio project.</p>
    <p class="lead text-muted">The skills on display in this project are web scraping, natural language processing, data visualization, and database management.</p>
    <p>
      <a href="https://github.com/AI-gregking/pa-general-assembly" class="btn btn-primary my-2" target="_blank">Source Code</a>
      <a href="https://github.com/ai-gregking" target="_blank" class="btn btn-secondary my-2">Greg's Portfolio</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <h2 class="jumbotron-heading">2021-2022 Regular Session</h2>
    </div>
    <div class="row mb-5">
      <!-- counter -->
      <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;"> <i class="fa fa-beer medium-icon"></i> <span id="anim-number-pizza" class="counter-number"></span> <span class="timer counter alt-font appear" data-to="980" data-speed="7000">280</span>
          <p class="counter-title">House Bills</p>
          <div class="row justify-content-center">
            <p class="counter-title"><a href="#">View Bills</a></p>
            <p class="pl-2 pr-2 counter-title"> | </p>
            <p class="counter-title"><a href="#">View Analysis</a></p>
          </div>
      </div> <!-- end counter -->
      <!-- counter -->
      <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;"> <i class="fa fa-beer medium-icon"></i> <span id="anim-number-pizza" class="counter-number"></span> <span class="timer counter alt-font appear" data-to="980" data-speed="7000">280</span>
        <p class="counter-title">House Resolutions</p>
        <div class="row justify-content-center">
          <p class="counter-title"><a href="#">View Bills</a></p>
          <p class="pl-2 pr-2 counter-title"> | </p>
          <p class="counter-title"><a href="#">View Analysis</a></p>
        </div>
      </div> <!-- end counter -->
      <!-- counter -->
      <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;"> <i class="fa fa-beer medium-icon"></i> <span id="anim-number-pizza" class="counter-number"></span> <span class="timer counter alt-font appear" data-to="980" data-speed="7000">{{ s_bills }}</span>
        <p class="counter-title">Senate Bills</p>
        <div class="row justify-content-center">
          <p class="counter-title"><a href="{% url 'senate-bills' %}">View Bills</a></p>
          <p class="pl-2 pr-2 counter-title"> | </p>
          <p class="counter-title"><a href="{% url 'sb-dashboard' %}">View Analysis</a></p>
        </div>
      </div> <!-- end counter -->
      <!-- counter -->
      <!-- counter -->
      <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;"> <i class="fa fa-beer medium-icon"></i> <span id="anim-number-pizza" class="counter-number"></span> <span class="timer counter alt-font appear" data-to="980" data-speed="7000">280</span>
        <p class="counter-title">Senate Resolutions</p>
        <div class="row justify-content-center">
          <p class="counter-title"><a href="#">View Bills</a></p>
          <p class="pl-2 pr-2 counter-title"> | </p>
          <p class="counter-title"><a href="#">View Analysis</a></p>
        </div>
      </div> <!-- end counter -->
    </div>
  </div>
</div>
{% endblock %}